.rich-checkbox-buttons__title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
}

.rich-checkbox-buttons__item-row {
  margin-top: 10px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.rich-checkbox-buttons__item-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 10px;
}

.rich-checkbox-buttons__item-description {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 10px;
}