.radio {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkbox.checked {
  border: 1px solid #BC9CFF;
}

.radio__check.visible {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #BC9CFF;
}
