mixin button1(title)
  .button1.button= title

mixin button2(title)
  .button2.button= title

mixin button3(title)
  .button3.button= title

mixin button4(title)
  .button4.button
    .button4-title= title
    img.button4-icon(src="./fonts/button__arrow_right.svg")