mixin footer2()
  div(style="background: #fff; padding-left: 104px; padding-right: 104px; padding-top: 120px; padding-bottom: 120px;")
    .footer2_wrapper
      .logo_wrapper
        img(src='./fonts/logo.svg')
        img(src='./fonts/toxin.svg')
      .copyright_text Copyright © 2018 Toxin отель. Все права зачищены.
      .socials_wrapper
        img(src='./fonts/twitter.svg')
        img(src='./fonts/facebook.svg')
        img(src='./fonts/instagram.svg')