mixin header2()
  div(style="background: #fff; padding: 15px;")
    .logo_and_menu_wrapper
      .logo_wrapper
        img(src='./fonts/logo.svg')
        img(src='./fonts/toxin.svg')
      .menu_and_user_name_wrapper
        .menu_wrapper
          .menu_item.active О нас
          .menu_item
            div Услуги
            .menu_item_closed
          .menu_item Вакансии
          .menu_item Новости
          .menu_item
            div Соглашения
            .menu_item_closed
        .user_name_wrapper
          .user_name |
          .user_name Юлий Цезарь