.checkbox-button-list__title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
}

.checkbox-button-list__item-row {
  margin-top: 10px;
}

.checkbox-button-list__item-title {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-left: 10px;
}
