include ../radio/radio.pug

mixin radio-button-list(title, itemList)
  .radio-button-list
    if title
      label.radio-button-list__title= title
    form
      .radio-button-list__item-wrapper
        each val in itemList
          .radio-button-list__item-row
            +radio(val.checked, 'groupname')
            label.radio-button-list__item-title= val.value