//@import "./fonts.scss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

$main-color1: #1f2041;
$main-color2: change-color(#1f2041, $alpha: 0.75);
$main-color3: change-color(#1f2041, $alpha: 0.50);
$main-color4: change-color(#1f2041, $alpha: 0.25);
$main-color5: change-color(#1f2041, $alpha: 0.05);
$main-color6: #BC9CFF;
$main-color7: #6FCF97;

.palettes {
  float: left;
  margin-left: 137px;
  margin-top: 136px;
}

.palettewrapper {
  height: 70px;
  width: 268px;
  margin-bottom: 20px;
}

table {
  border-spacing: 0;
}

.palettes tr td:first-of-type {
  padding-right: 39px;
}

.palette {
  width: 70px;
  height: 70px;
  border-radius: 6px;
}

.palette-description {
  font-family: Quicksand;
  font-size: 19px;
  color: #1F2041;
}

.palette-title {
  font-weight: bold;
  margin-bottom: 0;
}

.palette-value {
  font-weight: normal;
  margin-top: 0;
}

.main-color1-bg { background: $main-color1; }
.main-color2-bg { background: $main-color2; }
.main-color3-bg { background: $main-color3; }
.main-color4-bg { background: $main-color4; }
.main-color5-bg { background: $main-color5; }
.main-color6-bg { background: $main-color6; }
.main-color7-bg { background: $main-color7; }

.headers {
  float: left;
  margin-top: 95px;
  margin-left: 425px;
}

.headers td {
  padding-top: 50px;
}

.graytitle {
  font-family: Montserrat;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.25);
  width: 67px;
  margin-bottom: 20px;
  display: inline-block;
}

.headertitle1 {
  font-size: 24px;
  line-height: 29px;
}

.headertitle2 {
  font-size: 19px;
  line-height: 23px;
}

.headertitle3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.headertitle4 {
  font-size: 14px;
  line-height: 24px;
}

.header1 {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}

.header2 {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

.header3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.header4 {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}