.wrapper1 {
  margin-top: 140px;
  margin-left: 140px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.dropdown-local-wrapper {
  width: 320px;
  position: relative;
  margin-top: 20px;
}

.toggle-button-list__title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
}

.like-button-list__title {
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #1F2041;
}