.bullet-list__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}


.bullet-list__item-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.bullet-list__item-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.bullet-list__item-circle {
  width: 10px;
  height: 10px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.bullet-list__item_value {
  margin-left: 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}