mixin subscription-textfield()
  .subscription-text-field
    input.subscription-text-field__text(type="text", placeholder="Email")
    img.subscription-text-field__icon(src="./fonts/calendar_arrow_right.svg")