mixin big-point(title, description, imagePath)
  .big-point
    img.big-point__image(src= 'fonts/' + imagePath)
    .big-point__text-wrapper
      .big-point__title= title
      .big-point__description= description
