.big-point {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.big-point__text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}

.big-point__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.big-point__description {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}