include components/card/will-find/card_will-find.pug
include components/card/register/card_register.pug

doctype html
head
  meta(charset='UTF-8')
  title Cards

body
  .wrapper3
    div
      +card_will-find
      +card_register