include components/card/will-find/card_will-find.pug
include components/card/register/card_register.pug
include components/card/booking/card_booking.pug
include components/card/login/card_login.pug
include components/room-rating/room-rating.pug

doctype html
head
  meta(charset='UTF-8')
  title Cards

body
  .wrapper3
    div
      +card_will-find
      +card_register
    div
      +card_booking(888, 9990, '19.08.2019', '23.08.2019', {adults: 3}, [
        {title: 'Сбор за услуги', discount: 2179, price: 0},
        {title: 'Сбор за дополнительные услуги', discount: 0, price: 300}
      ])
      +card_login
    div(style="margin: 20px;")
      div(style="margin: 20px;")
        +room-rating(888)
      div(style="margin: 20px;")
        +room-rating(840)