doctype html
head
  meta(charset='utf-8')
  title FSD Frontend 2 step education
body
  ul
    li
      a(href="uikit1.html") UIKit Colors & Type
    li
      a(href="uikit2.html") UIKit Form Elements
    li
      a(href="uikit3.html") UIKit Cards
    li
      a(href="uikit4.html") UIKit Headers & Footers
    li
      a(href="website_landing.html") Landing page
    li
      a(href="website_search.html") Search room
    li
      a(href="website_room_details.html") Room details
    li
      a(href="website_registration.html") Registration
    li
      a(href="website_signin.html") Sign in
