.room-details__views-layout::after {
  content: "";
  display: table;
  clear: both;
}

.room-details__rules_discard::after {
  content: "";
  display: table;
  clear: both;
}

.room-details__wrapper1 {
  margin-top: 70px;
  margin-left: 140px;
}

.room-details__info_impressions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 672px;
}

.room-details__title {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

.room-details__text {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.room-details__chart {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.room-details__chart_unit {
  fill: none;
  stroke-width: 1;
  cursor: pointer;
}

.chart-caption-list {
  list-style-type: none;
}

.chart-caption-item {
  float: left;
  border-radius: 50% 50%;
  width: 10px;
  height: 10px;
}

.chart-caption-item-color1 {
  background-color: #FFE39C;
}

.chart-caption-item-color2 {
  background-color: #6FCF97;
}

.chart-caption-item-color3 {
  background-color: #BC9CFF;
}
.chart-caption-item-color4 {
  background-color: #909090;
}