.search-main {
  background-color: cyan;
  margin-left: 140px;
}

.search-main__side {
  width: 326px;
  float: left;
}

.search-main__rooms {
  float: left;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 834px;
}

.search-main__side_slider_note {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(31, 32, 65, 0.5);
}
