doctype html

head
  title= 'UIKit page 1'

body
  table.palettes
    tbody
      tr
        td
          div(class="palette main-color1-bg")
        td
          div.palette-description
            p.palette-title Dark Shade 100%
            p.palette-value #1F2041
      tr
        td
          div(class="palette main-color2-bg")
        td
          div.palette-description
            p.palette-title Dark Shade 75%
            p.palette-value #1F2041
      tr
        td
          div(class="palette main-color3-bg")
        td
          div.palette-description
            p.palette-title Dark Shade 50%
            p.palette-value #1F2041
      tr
        td
          div(class="palette main-color4-bg")
        td
          div.palette-description
            p.palette-title Dark Shade 25%
            p.palette-value #1F2041
      tr
        td
          div(class="palette main-color5-bg")
        td
          div.palette-description
            p.palette-title Dark Shade 5%
            p.palette-value #1F2041
      tr
        td
          div(class="palette main-color6-bg")
        td
          div.palette-description
            p.palette-title Purple
            p.palette-value #BC9CFF
      tr
        td
          div(class="palette main-color7-bg")
        td
          div.palette-description
            p.palette-title Green
            p.palette-value #6FCF97
  table.headers
    tbody
      tr
        td.headertitle1.graytitle H1
        td.header1.headerdescription This one is the sub-section or<br> widget title
      tr
        td.headertitle2.graytitle H2
        td.header2.headerdescription Next one is the item title inside<br> widgets
      tr
        td.headertitle3.graytitle H3
        td.header3.headerdescription This is a label or CTA text
      tr
        td.headertitle4.graytitle Body
        td.header4.headerdescription
                                      | This is the body text which is used for most<br>
                                      | of the design, like paragraphs, lists, etc.
